.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  height: 6vmin;
  pointer-events: none;
}
.body{
min-height:35vh;
}
.links{
  color:black
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  
}
/* @media screen and (min-width: 600px) {
  .slider {
    width:100%;
    background-repeat:no-repeat;
    height: 40vh;
  }
} */

/* 
@media only screen and (min-width: 200px) {
  .slider {
    height: 25vh !important;
  }
  .clock{
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
    padding: 10px !important;
  }
  .feedback{
    width: 90% !important;
    height: 24vh !important;
    margin-left: 5vw !important;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    padding: 18px !important;
  }
  .feedback input{
    width: 20px;;
  }
} */
/* @media (min-width: 1024px) {
  .slider {
    height: 30vh;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#nav{
  background-color: #ebeced !important;
}

.App-link {
  color: #61dafb;
}
.slider {
  width:100%;
  background-repeat:no-repeat;
  height: 80vh;
}
.clock{
  font-size: calc(1.325rem + .9vw);
  background: black;
  color: white;
  width: 80%;
  text-align: center;
  margin-left: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
  border-radius: 10px;



}

a{
  color: black;
  text-decoration: none;
}
.banner{
  width: 100%;
  height: 30vh;
}
.bheading{
  margin-top: -20vh;
  color:white;
}
.content{
  margin-top: 20vh;
  padding: 0px 20px;
}
.forms{
  border: solid rgb(203 200 200) 1px;
  border-radius: 10px;
  padding: 30px 20px;
  background-color: rgb(233 233 233);
}
.feedback{
  font-size: 20px;
  background: rgb(17, 10, 97);
  color: white;
  width: 80%;
  height: 10vh;
  text-align: center;
  margin-left: 10vw;
  margin-top: 10vh;
  margin-bottom: 8vh;
  padding: 20px;
  border-radius: 10px;

}
.feedback input{
  height: 35px;
  margin-left: 15px;
}
@keyframes App-logo-spin {
  from {
    /* transform: rotate(0deg); */
    transform: rotate(360deg);
  }
  to {
    /* transform: rotate(360deg); */
    transform: rotate(0deg);
  }
}
